[submodule "src/cf-mongodb-broker"]
	path = src/cf-mongodb-broker
	url = https://github.com/FoOTOo/cf-mongodb-broker.git
[submodule "src/cf-mongodb-smoke-tests"]
	path = src/cf-mongodb-smoke-tests
	url = https://github.com/FoOTOo/cf-mongodb-smoke-tests.git
